.toy-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-bottom: 3rem;
}





/* .toy-list .toy-preview .custom-card {
  align-items: flex-start;
}

.toy-list .toy-preview .custom-card header {
  font-size: 1em;
} */